
.main-latest-board-container {
  min-width: 1000px;
  padding-left: 30px;
  padding-top: 30px;
}

.main-latest-board-title {
  font-size: 30px;
  padding-bottom: 10px;
}

.main-latest-board-box {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}