.user-board-list-card-wrapper {
  display: flex;
  justify-content: space-between;

  width: 600px;
  height: 55px;
}

.user-board-list-card-left-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.user-board-list-card-image-box {
  width: 50px;
  height: 50px;
}

.user-board-list-card-image-box img {
  width: 50px;
  height: 50px;
}

.user-board-list-card-title-box {
  width: 300px;
  
  font-size: 20px;
}

.user-board-list-card-right-container {
  display: flex;
  gap: 10px;
}