#sign-up-wrapper {
  background-color: rgba(238, 238, 238, 1);
  padding: 100px 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-container {
  display: grid;
  grid-template-columns: 6fr 6fr;
  column-gap: 30px;
}

.sign-up-context-box {
  width: 500px;
}

.sign-up-context-text {
  font-size: 80px;
}

.sign-up-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sign-up-button-box {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {

  #sign-up-wrapper {
    padding: 10px 0px;
  }

  .sign-up-container {
    padding-top: 30px;
    width: 80%;
    grid-template-columns: none;
    grid-template-rows: 3fr 6fr;
  }

  .sign-up-context-box{
    display: none;
  }

}