#sign-in-wrapper{
  height: 500px;

  background-color: rgba(238, 238, 238, 1);
  padding: 100px 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-container{
  display: grid;
  grid-template-columns: 6fr 6fr;
  column-gap: 30px;
}

.sign-in-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sign-in-context-box{
  width: 500px;
}

.sign-in-context-text{
  font-size: 80px;
}

.sign-in-button {
  padding-top: 10px;
}

.sign-in-sign-up-box {
  padding-top: 20px;
}

.sign-in-sign-up-text {
  padding-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .sign-in-container{
    width: 80%;
    grid-template-columns: none;
    grid-template-rows: 6fr 6fr;
  }

  .sign-in-context-box{
    width: 100%;
  }

}